{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>

    <header>
        <a href="{% url 'books:book_list' %}"><span class="logo">BookView</span></a>
        <ul class="menu">
            <li {% if section == "books" %}class="selected"{% endif %}>
                <a href="{% url 'books:book_list' %}">Books</a>
            </li>
            <li {% if section == "author" %}class="selected"{% endif %}>
                <a href="{% url 'books:author_list' %}">Authors</a>
            </li>
        </ul>
        <ul class="menu" style="float: right">
            <li>
                Create:
            </li>
            <li {% if section == "create_category" %}class="selected"{% endif %}>
                <a href="{% url 'books:create_category' %}">Category</a>
            </li>
            <li {% if section == "create_book" %}class="selected"{% endif %}>
                <a href="{% url 'books:create_book' %}">Book</a>
            </li>
        </ul>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>