{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="detail-title">
        <h1>{{ book.title }}
            <a href="{{ book.category.get_absolute_url }}">
                <sub>{{ book.category }}</sub>
            </a>
        </h1>
    </div>
    <div class="detail-desk">
        <p>{{ book.description }}</p>
    </div>
    <div class="detail-info">
        <p>Author(s) :
            {% for author in book.author.all  %}
                {% if forloop.last %}
                    <a href="{{ author.get_absolute_url }}">{{ author }}.</a>
                {% else %}
                    <a href="{{ author.get_absolute_url }}">{{ author }},</a>
                {% endif %}
            {% endfor %}
        </p>
        <p>Year : {{ book.year }}</p>
    </div>
{% endblock %}

